.menu {
    background-color: #101D2C;
    overflow: hidden;
}

.shop-info i {
    font-size: 50px;
    color: #C69963;
}

.shop-info h1 {
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}

.shop-info p,
.shop-info address{
    color: rgba(255,255,255.5)
}

hr{
    border-top: 1px solid rgba(255 ,255 ,255 , .05)
    /* border-bottom: 1px solid pink; */
}

.section-heading h4 {
    text-transform: uppercase;
    color: #101D2C;
    line-height: 0;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.section-heading h1 {
    font-family: 'Niconne', cursive;
    color: #c69963;
}

.newFontSize {
    font-size: 20px;
}

.point-right,
.point-left {
    position: relative;
    background-color: #fff;
    display: flex
}

.menu-item-des {
    padding: 50px 15px;
    color: #212529;
    margin: auto;

}

.menu-item-des h6 {
    color: #c69963;
    font-size: 20px;
}

.menu-item-des h1{
    color: #101D2C;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
}

.point-left::before,
.point-right::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: inherit;
    top: -12px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: 1;
}

@media (min-width: 576px) {
    .point-right::before,
    .point-left::before{
        display: none;
    }
}

@media (min-width: 1200px) {
    .point-right::before,
    .point-left::before{
        display: block;
        top: 50%;
        left: initial;
        transform: translate(0, -50%) rotate(45deg);
    }

    .point-left::before{
        left: -12px;
    }

    .point-right::before{
        right: -12px
    }

    .menu-item-des p {
        display: none;
    }

    .menu-item-des .btn{
        color: #fff !important;
        background-color: #c69963;
    }
}